.header{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    background-color: white ;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);

}
.header__left{
    display: flex;

}
.header__left > .logo{
    width: 40px;
    max-height:40px;
}
.header__left > .header__input > .search{
    width: 15px;
    height: 15px;
}
.header__right > .menu{
    width: 20px;
    height: 20px
}